
<div class="container">
  <h1>New Car:</h1>


  <%= simple_form_for [@carmake, @car] do |f| %>
<!--   f.association :company, collection: Company.active.all(order: 'name'), prompt: "Choose a Company" -->
    <%= f.association :carmake, collection: @carmakes, label_method: :make, value_method: :id, label: "Make:" %>
    <%= f.input :year, label: "Year:", html: {class: "form-control" } %>
    <%= f.input :color, label: "Color:", html: {class: "form-control" } %>
    <%= f.input :mileage, label: "Mileage:", html: {class: "form-control" } %>
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>



